@model MediDate.Models.Medico

<div class="container">

    <div><label></label></div>

    @*Información del Medico*@
    <div class="row justify-content-center">
        <div class="col align-self-center" style="max-width: 640px;">
            <div class="card border-primary" >
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/img/img_medico.png" class="img-fluid rounded-start" alt="Médico">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(model => model.NombreCompleto)</h5>
                            <p class="card-text">@Html.DisplayFor(model => model.Especialidad)</p>
                            <p class="card-text">No. de Cédula: @Html.DisplayFor(model => model.NumCedula)</p>
                            <a class="btn btn-primary" asp-controller="Cita" asp-action="CreatePaciente">Agendar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div><label></label></div>

    @*Información del Consultorio*@
    <div class="row justify-content-center">
        <div class="col align-self-center" style="max-width: 640px;">
            <div class="card border-primary">
                <div class="card-header">Información del Consultorio</div>
                <div class="card-body">
                    <h5 class="card-title">@ViewBag.NombreCon</h5>
                    <p class="card-text">
                        <i class="fa-solid fa-location-dot" style="color: #712cf9;"> </i>
                        <b>Dirección:</b> @ViewBag.DireccionCon
                    </p>
                    <p class="card-text">
                        <i class="fa-solid fa-clock" style="color: #712cf9;"> </i>
                        <b>Horario de atención:</b>@ViewBag.Horario
                    </p>
                    
                </div>
            </div>
        </div>
    </div>

</div>