@model IEnumerable<MediDate.Models.Medico>

@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["AlertMessage"] != null)
{
    <!--Modal No existen medicos con los datos proporcionados-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["AlertMessage"]', 'info');
        }
    </script>
}




<div><label></label></div>

<div class="container">



<form asp-action="Index">
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-9">
            <input id="txtBuscar" name="txtBuscar" onkeyup="validar()" type="text" class="form-control" placeholder="Especialidad, Servicio, Nombre">
            <div id="lstBusqueda">
                <select asp-items="@ViewBag.Busqueda" class="form-control"></select>
                <select asp-items="@ViewBag.Busqueda2" class="form-control"></select>
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>

<div><label></label></div>

<table class="table">
@foreach (var item in Model){
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/img_medico.png" class="img-fluid rounded-start" alt="Médico">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.NombreCompleto)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Especialidad)</p>
                        <p class="card-text"><small class="text-body-secondary">@Html.DisplayFor(modelItem => item.NumCedula)</small></p>
                    </div>
                </div>
            </div>
        </div>
}
</table>
</div>

<script>
    document.getElementById('lstBusqueda').hidden = true;

    //function validar() {

    //    var tamanio = document.getElementById('txtBuscar').value;

    //    if (tamanio.length != 0) {
    //        document.getElementById('lstBusqueda').hidden = false;
    //    }else{
    //        document.getElementById('lstBusqueda').hidden = true;
    //    }
    //}
   
</script>

