@model IEnumerable<MediDate.Models.Medico>

@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["AlertMessage"] != null)
{
    <!--Modal No existen medicos con los datos proporcionados-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["AlertMessage"]', 'info');
        }
    </script>
}

@if (TempData["SuccessMessage"] != null)
{
    <!--Modal Usuario creado exitosamente-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["SuccessMessage"]', 'success');
        }
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <!--Modal si ocurre una excepción-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["ErrorMessage"]', 'error');
        }
    </script>
}

<style>
    #ddBusqueda {
        position: absolute;
        z-index: 9999;
        background-color: white;
        padding: 10px;
        border: 1px solid #ccc;
        width: 900px;
        box-sizing: border-box;
    }
</style>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MediDate</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Registrarse
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Paciente" asp-action="Create">Como Paciente</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Medico" asp-action="Create">Como Especialista</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<img src="~/img/fondo_fondo.png" width="1519px" />

<div><label></label></div>

<div class="container">

<form asp-action="Index">
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-9">
           <input id="txtBuscar" name="txtBuscar" onkeyup="getDropdownData()" type="text" class="form-control" placeholder="Especialidad, Servicio, Nombre" autocomplete="off">
           <ul id="ddBusqueda" style="display:none;" class="list-group-item"></ul>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>

<div><label></label></div>

<table class="table">
@foreach (var item in Model){
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/img_medico.png" class="img-fluid rounded-start" alt="Médico">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.NombreCompleto)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Especialidad)</p>
                        <p class="card-text"><small class="text-body-secondary">@Html.DisplayFor(modelItem => item.NumCedula)</small></p>
                    </div>
                </div>
            </div>
        </div>
}
</table>
</div>

<script>
   
    @*Mostrar lista desplegable para el buscador*@
    function getDropdownData(){
        const txtBuscar = document.getElementById('txtBuscar').value;

        $.ajax({
            url: `/Home/GetDropdownData?txtBuscar=${txtBuscar}`,
            type: 'GET',
            success: function (data){
                

                const dropdown = document.getElementById('ddBusqueda');

                dropdown.innerHTML = '';

                if (data.length === 0) {
                    dropdown.style.display = 'none';
                } else {

                    data.forEach(item => {
                        const listItem = document.createElement('li');
                        listItem.textContent = item;
                        listItem.classList = 'list-group-item list-group-item-action';
                        listItem.addEventListener('click', function () {
                            listItem.classList = 'list-group-item active';
                            handleItemSelected(item);
                            dropdown.style.display = 'none';
                        });
                        dropdown.appendChild(listItem);
                    });

                    dropdown.style.display = 'block';
                }
            }
        });
    }

    @*Pone la opcion seleccionada de la lista desplegable en el input del buscador*@
    function handleItemSelected(item) {
        document.getElementById('txtBuscar').value = item;
    }

    

</script>

