@model IEnumerable<MediDate.Models.Cita>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["ErrorMessage"] != null)
{
    <!--Modal si ocurre una excepción-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["ErrorMessage"]', 'error');
        }
    </script>
}

<partial name="_MenuPacientes" />

        <h1>Mis Citas</h1>

        @*<p class="d-flex justify-content-end">*@
        <p>
            <a class="btn btn-primary" asp-controller="Cita" asp-action="IndexPaciente">Agendar</a>
        </p>

        <div class="table-responsive">
            @if(Model.Count()>0){
                <table class="table">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.Fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Hora)
                            </th>
                            <th>
                                @Html.DisplayName("Especialista")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Servicio)
                            </th>
                            <th>
                                @Html.DisplayName("Estado")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @{
                                        string fechaFormateada = item.Fecha.ToString("dd/MM/yyyy");
                                    }
                                    @Html.DisplayFor(modelItem => fechaFormateada)
                                </td>
                                <td>
                                    @{
                                        string horaFormateada = item.Hora.ToString("HH:mm tt");
                                    }
                                    @Html.DisplayFor(modelItem => horaFormateada)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreMedico)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Servicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescEstado)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }else{
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Sin Citas</h5>
                        <p class="card-text">No hay citas programadas por el momento.</p>
                    </div>
                </div>
            }
        </div>

        </div> @*Fin Col de _MenuPacientes.cshtml*@
    </div> @* Fin Row de _MenuPacientes.cshtml*@
</div> @*Fin Container de _MenuPacientes.cshtml*@


